room/src/main/resources/contract/RoomService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RoomService"
             targetNamespace="http://www.wstutorial.com/ws/RoomService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.wstutorial.com/ws/RoomService"
             xmlns:room="http://hotelservice.com/room"
             xmlns:getallrooms="http://hotelservice.com/getallrooms"
             xmlns:bookroom="http://hotelservice.com/bookroom"
             xmlns:checkoutroom="http://hotelservice.com/checkoutroom">

    <types>
        <xs:schema targetNamespace="http://www.wstutorial.com/ws/RoomService">
            <xs:import schemaLocation="../schema/Room.xsd" namespace="http://hotelservice.com/room"/>
            <xs:import schemaLocation="../schema/GetAllRoomsRequest.xsd" namespace="http://hotelservice.com/getallrooms"/>
            <xs:import schemaLocation="../schema/GetAllRoomsResponse.xsd" namespace="http://hotelservice.com/getallrooms"/>
            <xs:import schemaLocation="../schema/BookRoomRequest.xsd" namespace="http://hotelservice.com/bookroom"/>
            <xs:import schemaLocation="../schema/BookRoomResponse.xsd" namespace="http://hotelservice.com/bookroom"/>
            <xs:import schemaLocation="../schema/CheckoutRoomRequest.xsd" namespace="http://hotelservice.com/checkoutroom"/>
            <xs:import schemaLocation="../schema/CheckoutRoomResponse.xsd" namespace="http://hotelservice.com/checkoutroom"/>
        </xs:schema>
    </types>

    <!-- Messages -->
    <message name="GetAllRoomsRequestMsg">
        <part name="params" element="getallrooms:GetAllRoomsRequest"/>
    </message>
    <message name="GetAllRoomsResponseMsg">
        <part name="params" element="getallrooms:GetAllRoomsResponse"/>
    </message>
    <message name="BookRoomRequestMsg">
        <part name="params" element="bookroom:BookRoomRequest"/>
    </message>
    <message name="BookRoomResponseMsg">
        <part name="params" element="bookroom:BookRoomResponse"/>
    </message>
    <message name="CheckoutRoomRequestMsg">
        <part name="params" element="checkoutroom:CheckoutRoomRequest"/>
    </message>
    <message name="CheckoutRoomResponseMsg">
        <part name="params" element="checkoutroom:CheckoutRoomResponse"/>
    </message>

    <portType name="RoomServicePortType">
        <operation name="GetAllRooms">
            <input message="tns:GetAllRoomsRequestMsg"/>
            <output message="tns:GetAllRoomsResponseMsg"/>
        </operation>
        <operation name="BookRoom">
            <input message="tns:BookRoomRequestMsg"/>
            <output message="tns:BookRoomResponseMsg"/>
        </operation>
        <operation name="CheckoutRoom">
            <input message="tns:CheckoutRoomRequestMsg"/>
            <output message="tns:CheckoutRoomResponseMsg"/>
        </operation>
    </portType>

    <binding name="RoomServiceSOAPBinding" type="tns:RoomServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetAllRooms">
            <soap:operation soapAction="getAllRooms"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="BookRoom">
            <soap:operation soapAction="bookRoom"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CheckoutRoom">
            <soap:operation soapAction="checkoutRoom"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="RoomService">
        <port name="RoomServicePort" binding="tns:RoomServiceSOAPBinding">
            <soap:address location="http://localhost:8082/wsdlfirst/roomService"/>
        </port>
    </service>
</definitions>
