user/src/main/resources/schema/SignupResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hotelservice.com/signup"
           xmlns:signup="http://hotelservice.com/signup"
           xmlns:user="http://hotelservice.com/user"
           elementFormDefault="qualified">
    <xs:element name="SignupResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="user:User" minOccurs="0"/>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
