user/src/main/resources/schema/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hotelservice.com/user"
           xmlns:user="http://hotelservice.com/user"
           elementFormDefault="qualified">
    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="uniqueid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
