room/src/main/resources/wsdl/xsd/StatusCode.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hotelservice.com.com/statuscode"
           xmlns="http://hotelservice.com.com/statuscode">

<!--    <xs:element name="exampleElement" type="xs:string"/>-->
    <xs:complexType name="statusCode">
    <xs:sequence>
    <xs:element name="code" type="xs:long" />
    </xs:sequence>
    </xs:complexType>

</xs:schema>