producing-web-service/src/main/resources/wsdl/HotelService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="someName"
	targetNamespace="http://www.wstutorial.com/ws/HotelService"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:tns="http://www.wstutorial.com/ws/HotelService"
			 xmlns:statuscode="http://hotelservice.com.com/statuscode"
			 xmlns:tutorialtype="http://hotelservice.com.com/tutorialtype"
			 xmlns:roomtype="http://hotelservice.com.com/roomtype"

>

	<types>
		<xs:schema targetNamespace="http://www.wstutorial.com/ws/HotelService">
			<xs:import schemaLocation="xsd/StatusCode.xsd" namespace="http://hotelservice.com.com/statuscode"/>
			<xs:import schemaLocation="xsd/TutorialType.xsd" namespace="http://hotelservice.com.com/tutorialtype"/>
			<xs:import schemaLocation="xsd/RoomType.xsd" namespace="http://hotelservice.com.com/roomtype"/>




			<!-- Define request and response types for operations -->
			<xs:element name="CheckAvailabilityRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CheckInDate" type="xs:date"/>
						<xs:element name="CheckOutDate" type="xs:date"/>
						<!-- Add more elements as needed -->
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CheckAvailabilityResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AvailableRooms" type="roomtype:RoomType" minOccurs="0" maxOccurs="unbounded"/>
						<!-- Add more elements as needed -->
					</xs:sequence>
				</xs:complexType>
			</xs:element>
<!--			<xs:element name="updateTutorialRequest">-->
<!--				<xs:complexType>-->
<!--					<xs:sequence>-->
<!--						<xs:element name="tutorialType" type="tns:TutorialType" />-->
<!--					</xs:sequence>-->
<!--				</xs:complexType>-->
<!--			</xs:element>-->

<!--			<xs:element name="updateTutorialResponse">-->
<!--				<xs:complexType>-->
<!--					<xs:sequence>-->
<!--						<xs:element name="statusCode" type="tns:statusCode" />-->
<!--					</xs:sequence>-->
<!--				</xs:complexType>-->
<!--			</xs:element>-->

<!--			<xs:element name="deleteTutorialRequest">-->
<!--				<xs:complexType>-->
<!--					<xs:sequence>-->
<!--						<xs:element name="id" type="xs:long" />-->
<!--					</xs:sequence>-->
<!--				</xs:complexType>-->
<!--			</xs:element>-->

<!--			<xs:element name="deleteTutorialResponse">-->
<!--				<xs:complexType>-->
<!--					<xs:sequence>-->
<!--						<xs:element name="statusCode" type="tns:statusCode" />-->
<!--					</xs:sequence>-->
<!--				</xs:complexType>-->
<!--			</xs:element>-->

<!--			<xs:element name="getTutorialsRequest">-->
<!--				<xs:complexType>-->
<!--					<xs:sequence>-->
<!--						<xs:element name="id" type="xs:long" />-->
<!--					</xs:sequence>-->
<!--				</xs:complexType>-->
<!--			</xs:element>-->

<!--			<xs:element name="getTutorialsResponse">-->
<!--				<xs:complexType>-->
<!--					<xs:sequence>-->
<!--						<xs:element type="tns:TutorialType" minOccurs="0"-->
<!--							maxOccurs="unbounded" name="tutorials" />-->
<!--					</xs:sequence>-->
<!--				</xs:complexType>-->
<!--			</xs:element>-->

<!--			<xs:complexType name="TutorialTypes">-->
<!--				<xs:sequence>-->
<!--					<xs:element type="tns:TutorialType" minOccurs="0"-->
<!--						maxOccurs="unbounded" name="tutorials" />-->
<!--				</xs:sequence>-->
<!--			</xs:complexType>-->

			<xs:element name="tutorialFault" type="xs:string" />
		</xs:schema>
	</types>

	<!-- Messages -->
	<message name="CheckAvailabilityRequestMsg">
		<part name="params" element="tns:CheckAvailabilityRequest"/>
	</message>
	<message name="CheckAvailabilityResponseMsg">
		<part name="params" element="tns:CheckAvailabilityResponse"/>
	</message>

<!--	<message name="tutorialFault">-->
<!--		<part name="params" element="tns:tutorialFault" />-->
<!--	</message>-->

<!--	<message name="getTutorialsRequestMsg">-->
<!--		<part name="params" element="tns:getTutorialsRequest" />-->
<!--	</message>-->
<!--	<message name="getTutorialsResponseMsg">-->
<!--		<part name="params" element="tns:getTutorialsResponse" />-->
<!--	</message>-->

<!--	<message name="deleteTutorialRequestMsg">-->
<!--		<part name="params" element="tns:deleteTutorialRequest" />-->
<!--	</message>-->
<!--	<message name="deleteTutorialResponseMsg">-->
<!--		<part name="params" element="tns:deleteTutorialResponse" />-->
<!--	</message>-->

<!--	<message name="updateTutorialRequestMsg">-->
<!--		<part name="params" element="tns:updateTutorialRequest" />-->
<!--	</message>-->
<!--	<message name="updateTutorialResponseMsg">-->
<!--		<part name="params" element="tns:updateTutorialResponse" />-->
<!--	</message>-->

	<portType name="HotelServicePortType">
		<operation name="CheckAvailability">
			<input message="tns:CheckAvailabilityRequestMsg"/>
			<output message="tns:CheckAvailabilityResponseMsg"/>
		</operation>
<!--		<operation name="deleteTutorial">-->
<!--			<input message="tns:deleteTutorialRequestMsg" />-->
<!--			<output message="tns:deleteTutorialResponseMsg" />-->
<!--			<fault name="fault" message="tns:tutorialFault" />-->
<!--		</operation>-->
<!--		<operation name="updateTutorial">-->
<!--			<input message="tns:updateTutorialRequestMsg" />-->
<!--			<output message="tns:updateTutorialResponseMsg" />-->
<!--			<fault name="fault" message="tns:tutorialFault" />-->
<!--		</operation>-->
<!--		<operation name="getTutorials">-->
<!--			<input message="tns:getTutorialsRequestMsg" />-->
<!--			<output message="tns:getTutorialsResponseMsg" />-->
<!--			<fault name="fault" message="tns:tutorialFault" />-->
<!--		</operation>-->
	</portType>

	<binding name="HotelServiceSOAPBinding" type="tns:HotelServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="CheckAvailability">
			<soap:operation soapAction="checkAvailability"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal" />
			</fault>
		</operation>
<!--		<operation name="deleteTutorial">-->
<!--			<soap:operation soapAction="deleteTutorial" />-->
<!--			<input>-->
<!--				<soap:body use="literal" />-->
<!--			</input>-->
<!--			<output>-->
<!--				<soap:body use="literal" />-->
<!--			</output>-->
<!--			<fault name="fault">-->
<!--				<soap:fault name="fault" use="literal" />-->
<!--			</fault>-->
<!--		</operation>-->
<!--		<operation name="updateTutorial">-->
<!--			<soap:operation soapAction="updateTutorial" />-->
<!--			<input>-->
<!--				<soap:body use="literal" />-->
<!--			</input>-->
<!--			<output>-->
<!--				<soap:body use="literal" />-->
<!--			</output>-->
<!--			<fault name="fault">-->
<!--				<soap:fault name="fault" use="literal" />-->
<!--			</fault>-->
<!--		</operation>-->
<!--		<operation name="getTutorials">-->
<!--			<soap:operation soapAction="getTutorials" />-->
<!--			<input>-->
<!--				<soap:body use="literal" />-->
<!--			</input>-->
<!--			<output>-->
<!--				<soap:body use="literal" />-->
<!--			</output>-->
<!--			<fault name="fault">-->
<!--				<soap:fault name="fault" use="literal" />-->
<!--			</fault>-->
<!--		</operation>-->
	</binding>
	<service name="HotelService">
		<port name="HotelServicePort" binding="tns:HotelServiceSOAPBinding">
			<soap:address
				location="http://localhost:8080/wsdlfirst/hotelService" />
		</port>
	</service>
</definitions>
