payments/src/main/resources/schema/statement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:getallrooms="http://hotelservice.com/getallstatement" targetNamespace="http://hotelservice.com/getallstatement" elementFormDefault="qualified">
    <xs:element name="GetAllStatementRequest" type="xs:anyType"/>
    <xs:element name="GetAllStatementResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="statement" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>