login/src/main/resources/wsdl/xsd/RoomType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hotelservice.com.com/roomtype"
           xmlns="http://hotelservice.com.com/roomtype">

    <xs:complexType name="RoomType">
        <xs:sequence>
            <xs:element name="RoomNumber" type="xs:string"/>
            <xs:element name="Type" type="xs:string"/>
            <xs:element name="Price" type="xs:decimal"/>
            <!-- Add more elements as needed -->
        </xs:sequence>
    </xs:complexType>

</xs:schema>